<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.loginwithkotlin">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="31"
        >



        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".FirstLoginSignup"
            android:parentActivityName=".MainActivity">
        </activity>


        <activity android:name=".Login"
            android:parentActivityName=".FirstLoginSignup">
        </activity>

        <activity android:name=".SignupPage1"
            android:parentActivityName=".FirstLoginSignup">
        </activity>

        <activity android:name=".SignupPage2"
            android:parentActivityName=".SignupPage1"/>

    </application>

</manifest>